@use "src/assets/scss/abstracts";

.wrapper {
   width: 500px;
   margin: 0 auto;
   padding: 30px;
   border: 2px solid var(--body-bg-bold);
   border-radius: 8px;
   box-shadow:
      rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

   @include abstracts.screen(md) {
      width: 100%;
   }
}

.footer {
   display: flex;
   justify-content: end;
}
