/* =============================== Glypha VO =================================== */
@font-face {
    font-family: 'Glypha VO';
    src: url('/assets/fonts/GlyphaVO/GlyphaVO.woff2') format('woff2'),
        url('/assets/fonts/GlyphaVO/GlyphaVO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glypha VO';
    src: url('/assets/fonts/GlyphaVO/GlyphaVO-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/GlyphaVO/GlyphaVO-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glypha VO';
    src: url('/assets/fonts/GlyphaVO/GlyphaVO-Italic.woff2') format('woff2'),
        url('/assets/fonts/GlyphaVO/GlyphaVO-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glypha VO';
    src: url('/assets/fonts/GlyphaVO/GlyphaVO-Bold.woff2') format('woff2'),
        url('/assets/fonts/GlyphaVO/GlyphaVO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

