html.dark {
    --text-color: #ebebeb;
    --body-bg: #292e39;

    /// Layout Header
    --header-layout-logo: url("/src/assets/images/vasg_logo_black.png");
    --header-layout-bg: linear-gradient(#171c28, #171c28ad);
    --header-hover: #292e39;

    /// Layout Sidebar
    --sidebar-layout-bg: #171c28;
    --sidebar-border-color: #636363;
    --sidebar-active-bg: #ff8a283d;
    --sidebar-hover-bg: transparent;

    /// Page not found 404
    --notfoundpage-blue: #ebebeb;
    --notfoundpage-pink: #fdabaf;
    --notfoundpage-white: #292e39;

    ///
    --form-control-color: #dfdfdf;
    --form-label-color: #dfdfdf;

    --btn-vrtext-color: #fff;
}
