html {
    --white: #fff;
    --black: #333;

    --primary-color: #ea7f23;
    --text-color: #1a162e;
    --body-bg: #f2f4f7;

    --form-control-color: #fff;
    --form-label-color: #5f687b;

    --btn-vrtext-color: #333;
}
