@use "../abstracts";

.homepage-container {
    height: 100%;
    width: 100%;
    background-image: url(../../images/bg-home-lg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include abstracts.screen(md) {
        background-image: url(../../images/bg-home-sm.png);
    }
}
