.btn-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    min-width: 63px;
    padding: 6px 16px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--white);
    color: var(--black);

    & + .btn-wrapper {
        margin-left: 8px;
    }

    &.isDisabled {
        pointer-events: none;
        opacity: 0.7;
    }

    //--Variant
    &.contained {
        background-color: var(--primary-color);
        color: var(--white);
        transition-property: background-color, box-shadow;
        transition-duration: 0.3s;

        &:hover {
            background-color: #e3700c;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
        }
    }

    &.outline {
        color: var(--primary-color);
        border-color: #e3ac7c;

        transition-property: background-color, border-color;
        transition-duration: 0.3s;

        &:hover {
            background-color: #fff6ee;
            border-color: #e3700c;
        }
    }

    &.text {
        background-color: transparent;
        color: var(--btn-vrtext-color);
        transition: background-color;
        transition-duration: 0.3s;

        &:hover {
            background-color: #ababab2e;
        }
    }

    //--Size
    &.small {
        padding: 4px 10px;
        font-size: 1.3rem;
    }

    &.large {
        padding: 8px 22px;
        font-size: 1.5rem;
    }

    .icon + .title,
    .title + .icon {
        margin-left: 6px;
    }
}
